/* ---------------- BACKGROUND */
$color__background-body : #0B2057;
$color__background-main : #FFBEB0;
$color__background-cours : #FCC5FE;
$color__background-header : #7163C2;
$color__background-barre : #7163C2;
$color__background-footer : #0B2057;
$color__background-link : #FECEC0;
$color__background-link-hover : #D96C94;
$color__background-body-clip: #4256DD;

/* ---------------- LIENS */
$color__link : #FF2C91;
$color__link-hover : #FFF;
$color__link-visited : #030212;
/* ---------------- LIENS FOOTER */
$color__link__footer : #B400C6;
$color__link__footer-hover : #8904CD;
$color__link__footer-visited : #7B02CB;
/* ---------------- LIENS HEADER titre principal du site */
$color__link__header : #F65C44;
$color__link__header-hover : #FFB28F;
$color__link__header-visited : #FCC5FE;

/* ---------------- FONT */
$color__font-header : #FFF8D9;
$color__font-main :#FFF;
$color__font-main-h1 : #FFF;
$color__font-main-singlePost: #FFF;
$color__font-main-title: #FFF;
$color__font-main-contenu: #FFF;
$color__font-barre : #7163C2;
$color__font-footer : #FCC5FE;
$color__font-site-footer: #FF2C91;
$color__font-sigle: #7163C2;
/*----------------------SHADOWS*/
$color__box-shadow-main: #7B02CB 1px -1px 10px;
$color__text-shadow-title: #FF2C91 3px -3px 5px;
$color__text-shadow-p: #000 3px -3px 5px;
$color__box-shadow-cours: #7B02CB 3px -3px 10px;

/* --------------  Bouton / lien menu */
$color__bouton__color : #000;
$color__bouton__background : #FF2C91 3px -3px 5px;
$color__bouton__color--hover : #7B02CB 3px -3px 10px;
$color__bouton__background--hover : #7163C2; 