.site__footer{
  display: flex;
  flex-direction: column;

&__colonne{
    color: $color__font-site-footer;
    display: flex;
    justify-content: space-between;
    section{
      display: flex;
      flex-direction: column;
      border: 3.5px solid #FF2C91;
      flex: 0 0 30%;
    }
   
  }
  &__ligne{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer__article{
font-size: 1.5rem;
}
.footer__adresse{
font-size: 1.5rem;
}
.footer__liens{
  font-size: 1.5rem;
  }

.footer__titre{
font-size: 4rem;
}
.footer__presentation{
font-size: 2.5rem;
}
.footer__author{
font-size: 2rem;
}
.footer__copyright{
  font-size: 2rem;
  color: aliceblue;
}
.footer__auteur{
  font-size: 2rem;
  color: aliceblue;
}

.site__footer {
  font-family: $font__titre;
  background-color: $color__background-footer;
  padding: 15px;

  &__menu{ // .site__footer__menu

    &__ul{ // .site__footer__menu__ul
        display : flex;
        list-style-type: none;
        justify-content: center;
        font-size: 25px;
        .menu-item { // .site__footer__menu__ul .menu-item
            margin : 10px 5px;
          a{ // .site__footer__menu__ul .menu-item a
            display : flex;
            align-items: center;
            padding : 3px;
              svg { // .site__footer__menu__ul .menu-item a svg
                color: $color__link__footer;
              }
         
            &:hover {
              svg { // .site__footer__menu__ul .menu-item a svg
                color: $color__link__footer-hover;
              }
            }
          }
        }    
     }
  }
}

.footer__recherche{
  right: 0;
}

.footer__titre,
.footer__presentation,
.footer__author {
color: $color__font-footer;
text-align: center;
}

